In [ ]:
#DAta Visualization
#-It is process of visualizing data more clearly in pictorial way

In [1]:
import pandas as pd
d={"Country":['USA','India','Nepal','Russia'], "Today's Case":['778878','656465','898098','444564'], "Active Cases":['79879','4534','2343','75665'], "Death Cases":['8768','987','4645','87656']}
df=pd.DataFrame(d)
df

  Country Today's Case Active Cases Death Cases
0     USA       778878        79879        8768
1   India       656465         4534         987
2   Nepal       898098         2343        4645
3  Russia       444564        75665       87656

In [ ]:
#data Visualization

In [3]:
import plotly as py

fig = px.bar(d, x='Country', y="Today's Case")
fig.show()

ModuleNotFoundError: No module named '_plotly_utils'