In [ ]:
#dictionary
-Mutable
-Indexed
-key value pairs
-duplicate values
-no duplicate index
-Ordered

In [1]:
a={}
print(a)
print(type(a))

{}
<class 'dict'>

In [2]:
a={"a":"apple","b":"ball"}
print(a)

{'a': 'apple', 'b': 'ball'}

In [9]:
len(a)

3

In [10]:
a={"a":"apple","b":"ball"}
print(a["a"])

apple

In [3]:
a={"a":"apple","b":"ball"}
b={"c":"cat"}
a.update(b)
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [1]:
a={"a":"Anjali","b":"bat"}
b={"d":"dog"}
a.update(b)
a

{'a': 'Anjali', 'b': 'bat', 'd': 'dog'}

In [8]:
l=dict()                                   #create

n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    key=name
    value=age
    l[key]=value
  
print(l)

enter n=2
enter name=ram
enter age=33
enter name=sita
enter age=34
{'ram': 33, 'sita': 34}

In [15]:
print(l["ram"])

33

In [8]:
a={'ram': 33, 'sita': 34}                          #read only values
for i in a.values():
    print(i)

33
34

In [9]:
a={'ram': 33, 'sita': 34}                     #read with key value
for i in a.items():
    print(i)

('ram', 33)
('sita', 34)

In [11]:
d={}                                  #insert
d["a"]="apple"
d["b"]="ball"
print(d)

{'a': 'apple', 'b': 'ball'}

In [12]:
a={'a': 'apple', 'b': 'ball'}      #update
a['a']="Apple"
print(a)

{'a': 'Apple', 'b': 'ball'}

In [2]:
a={'a': 'apple', 'b': 'ball',"a":"Ant"}                  #no duplicate index
print(a)

{'a': 'Ant', 'b': 'ball'}

In [3]:
a={'a': 'apple', 'b': 'ball',"A":"apple"}                   #duplicate values
a

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [4]:
a={'a': 'apple', 'b': 'ball',"A":"apple"}
a["a"]="Ant"
print(a)

{'a': 'Ant', 'b': 'ball', 'A': 'apple'}

In [ ]:
#convert list and tuple in dict

In [11]:
d=[('ram', 33), ('sita', 34)]
print(dict(d))

{'ram': 33, 'sita': 34}

In [12]:
d={'a': 'Ant', 'b': 'ball', 'A': 'apple'}           #delete
del d["a"]
print(d)

{'b': 'ball', 'A': 'apple'}

In [14]:
d={'a': 'Ant', 'b': 'ball', 'A': 'apple'}          #pop will provide information regarding deleted items
b=d.pop("b")
print(d)
print(b)

{'a': 'Ant', 'A': 'apple'}
ball

In [ ]:
#list inside dict
a={'ram': [33, 45] 'sita':[34, 76]}

In [15]:
d={}                                                         #list inside dict
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc=int(input("enter ntc no="))
    ncell=int(input("enter ncell no="))
    key=name
    value=[ntc,ncell]
    d[key]=value
print(d)

enter n=2
enter name=ram
enter ntc no=78787687678
enter ncell no=787987987987
enter name=shyam
enter ntc no=099887896
enter ncell no=5465476576
{'ram': [78787687678, 787987987987], 'shyam': [99887896, 5465476576]}

In [16]:
na=[]
nt=[]
nc=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc=int(input("enter ntc no="))
    ncell=int(input("enter ncell no="))
    na.append(name)
    nt.append(ntc)
    nc.append(ncell)
d={"Name":na,"Ntc":nt,"Ncell":nc}
print(d)

enter n=2
enter name=ram
enter ntc no=768756465465
enter ncell no=7676665454
enter name=shyam
enter ntc no=877667575
enter ncell no=0067655445
{'Name': ['ram', 'shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]}

In [17]:
a={'Name': ['ram', 'shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]}
for i in a:
    print(i)

Name
Ntc
Ncell

In [18]:
a={'Name': ['ram', 'shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]}
for i in a.values():
    print(i)

['ram', 'shyam']
[768756465465, 877667575]
[7676665454, 67655445]

In [19]:
a={'Name': ['ram', 'shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]}
for i in a.items():
    print(i)

('Name', ['ram', 'shyam'])
('Ntc', [768756465465, 877667575])
('Ncell', [7676665454, 67655445])

In [20]:
a={'Name': ['ram', 'shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]}
a["Name"]

['ram', 'shyam']

In [21]:
a={'Name': ['ram', 'shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]} #edit
a["Name"][0]="Ram"
print(a)

{'Name': ['Ram', 'shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]}

In [22]:
a={'Name': ['ram', 'shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]} #delete
del a["Name"][0]
print(a)

{'Name': ['shyam'], 'Ntc': [768756465465, 877667575], 'Ncell': [7676665454, 67655445]}

In [ ]:
#dictionary inside list

In [1]:
a=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter address=")
    d={'Name':name,"Age":age,"Address":add}
    a.append(d)
print(a)

enter n=2
enter name=ram
enter age=22
enter address=kathmandu
enter name=shyam
enter age=77
enter address=patan
[{'Name': 'ram', 'Age': 22, 'Address': 'kathmandu'}, {'Name': 'shyam', 'Age': 77, 'Address': 'patan'}]

In [2]:
a=[{'Name': 'ram', 'Age': 22, 'Address': 'kathmandu'}, {'Name': 'shyam', 'Age': 77, 'Address': 'patan'}]
for i in a:
    print(i)

{'Name': 'ram', 'Age': 22, 'Address': 'kathmandu'}
{'Name': 'shyam', 'Age': 77, 'Address': 'patan'}

In [3]:
a=[{'Name': 'ram', 'Age': 22, 'Address': 'kathmandu'}, {'Name': 'shyam', 'Age': 77, 'Address': 'patan'}]
for i in a.values():
    print(i)

AttributeError: 'list' object has no attribute 'values'

In [4]:
a=[{'Name': 'ram', 'Age': 22, 'Address': 'kathmandu'}, {'Name': 'shyam', 'Age': 77, 'Address': 'patan'}]
del a[0]["Name"]
a

[{'Age': 22, 'Address': 'kathmandu'},
 {'Name': 'shyam', 'Age': 77, 'Address': 'patan'}]

In [5]:
a=[{'Name': 'ram', 'Age': 22, 'Address': 'kathmandu'}, {'Name': 'shyam', 'Age': 77, 'Address': 'patan'}]
a[0]["Name"]="Rama"
a

[{'Name': 'Rama', 'Age': 22, 'Address': 'kathmandu'},
 {'Name': 'shyam', 'Age': 77, 'Address': 'patan'}]

In [6]:
a=[{'Name': 'ram', 'Age': 22, 'Address': 'kathmandu'}, {'Name': 'shyam', 'Age': 77, 'Address': 'patan'}]
for i in a:
    print(i.values())

dict_values(['ram', 22, 'kathmandu'])
dict_values(['shyam', 77, 'patan'])

In [7]:
a={("Ram","Sita"):897979877676}                            #tuples can be hashed
a

{('Ram', 'Sita'): 897979877676}

In [8]:
a={["Ram","Sita"]:897979877676}                            #list can't be hashed
a

TypeError: unhashable type: 'list'

In [ ]:
#dicts inside dicts

In [9]:
a={"ram":{"Ntc":76876887687, "Ncell":7987896567}}
a

{'ram': {'Ntc': 76876887687, 'Ncell': 7987896567}}

In [11]:
a={"ram":{"Ntc":76876887687, "Ncell":7987896567},
  "sita":{"Ntc":76876887687, "Ncell":7987896567}}
a

{'ram': {'Ntc': 76876887687, 'Ncell': 7987896567},
 'sita': {'Ntc': 76876887687, 'Ncell': 7987896567}}

In [13]:
for i in a:
    print(i)

ram
sita

In [14]:
for i in a:
    print(i.values())

AttributeError: 'str' object has no attribute 'values'

In [15]:
for i in a.values():
    print(i)

{'Ntc': 76876887687, 'Ncell': 7987896567}
{'Ntc': 76876887687, 'Ncell': 7987896567}

In [16]:
for i in a.items():
    print(i)

('ram', {'Ntc': 76876887687, 'Ncell': 7987896567})
('sita', {'Ntc': 76876887687, 'Ncell': 7987896567})

In [17]:
a={}                                            #values are updated
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    phone=int(input("enter phone="))
    d={"Name":name,"Age":age,"Phone":phone}
    a.update(d)
print(a)

enter n=2
enter name=ram
enter age=77
enter phone=798776765
enter name=shyam
enter age=99
enter phone=897887674
{'Name': 'shyam', 'Age': 99, 'Phone': 897887674}

In [20]:
a={}                                            
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    phone=int(input("enter phone="))
    d={"Name":name,"Age":age,"Phone":phone}
    a[name]={"Age":age,"Phone":phone}
print(a)

enter n=2
enter name=ram
enter age=88
enter phone=98786677678
enter name=shyam
enter age=99
enter phone=989867878
{'ram': {'Age': 88, 'Phone': 98786677678}, 'shyam': {'Age': 99, 'Phone': 989867878}}

In [1]:
car ={                                   #get() is used to get items from key value pairs
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

In [3]:
fruits={
    "sour":"grapes",
    "sweet":"mango",
    "tasty":"banana"
}
print(fruits.get("tasty"))

banana

In [5]:
car ={                                 #change value in dicts
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"]= 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [6]:
car ={                #pop will delete items
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}