In [ ]:
#list
- list is mutable
-list is ordered
-list is indexed
-list has duplicate members

In [3]:
a=[]
b=list()
print(type(b))

<class 'list'>

In [4]:
a=[1,2,3,4,5,6]
b=["apple","ball","cat","dog"]
print(a,b)

[1, 2, 3, 4, 5, 6] ['apple', 'ball', 'cat', 'dog']

In [7]:
a=[1,2,3,3,4,5,6]
b=["apple","ball","cat"]
c=["+","-","*"]

print(a)
print(b)
print(c)

[1, 2, 3, 3, 4, 5, 6]
['apple', 'ball', 'cat']
['+', '-', '*']

In [10]:
a=["apple","ball","cat"]
print(a[1])
print(len(a))

ball
3

In [16]:
a=["apple","ball","cat","dog","egg"]
print(a[0])

apple

In [17]:
a=["apple","ball","cat","dog","egg"]
print(a[0:3])

['apple', 'ball', 'cat']

In [18]:
a=["apple","ball","cat","dog","egg"]
print(a[0:3:2])

['apple', 'cat']

In [19]:
a=["apple","ball","cat","dog","egg"]
print(a[0::2])

['apple', 'cat', 'egg']

In [20]:
a=[1,2,3,4,5,6,7,8,9,0]
print(a[2:6:2])

[3, 5]

In [21]:
a=["apple","ball","cat","dog","egg"]
b=["fish"]
c=a+b
print(c)

['apple', 'ball', 'cat', 'dog', 'egg', 'fish']

In [23]:
a=["apple","ball","cat","dog","egg"]
b=["fish"]
c=b+a
print(c)

['fish', 'apple', 'ball', 'cat', 'dog', 'egg']

In [24]:
a=[1,2,2,3,4,5,6,6,2]
print(a)

[1, 2, 2, 3, 4, 5, 6, 6, 2]

In [25]:
a=[1,2,2,3,4,5,6,6,2]
print(a.count(2))

3

In [26]:
a=["apple","ball","cat","dog","egg"]
a[0]="fish"
print(a)

['fish', 'ball', 'cat', 'dog', 'egg']

In [27]:
l=[]
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    l=l+[x]
print(l)

enter n=2
enter x=ram
enter x=sita
['ram', 'sita']

In [28]:
l=[]
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    l=l+[x]
print(l)

enter n=2
enter x=22
enter x=33
[22, 33]

In [30]:
l=[]
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    l=l+[x]
print(l)
print("the sum =",sum(l))
print("the list is =",list(l))
print("the max number is =",max(l))
print("the min number is =",min(l))

enter n=5
enter x=2
enter x=3
enter x=4
enter x=5
enter x=6
[2, 3, 4, 5, 6]
the sum = 20
the list is = [2, 3, 4, 5, 6]
the max number is = 6
the min number is = 2

In [31]:
l.sort()                #sorting in ascending order
print(l)

[2, 3, 4, 5, 6]

In [32]:
l.reverse()             #sorting in descending order
print(l)

[6, 5, 4, 3, 2]

In [34]:
a=["apple", "Ball", "cat","fish"]
a.sort()
print(a)

['Ball', 'apple', 'cat', 'fish']

In [2]:
a=["apple", "Ball", "cat","fish"]
for i in a:
    print(i)

apple
Ball
cat
fish

In [4]:
a=["apple", "Ball", "cat","fish"]
l=len(a)
for i in range(l):
    print(a[i])

apple
Ball
cat
fish

In [1]:
a=["apple", "Ball", "cat","fish"]
l=len(a)
for i in range(l):
    print(i)

0
1
2
3

In [5]:
a=["apple", "Ball", "cat","fish","apple"]
if "apple" in a:
    print("yes")
else:
    print("no")

yes

In [6]:
a=["apple", "Ball", "cat","fish","apple"]
if "apple" in a:
    print("yes")
    print(a.count("apple"))
else:
    print("no")

yes
2

In [7]:
l=[]
s=str()
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    y=input("enter y=")
    z=input("enter z=")
    l=l+[f" {x} {y} {z}"]
print(l)

enter n=3
enter x=ram
enter y=sita
enter z=radha
enter x=hari
enter y=arjun
enter z=abir
enter x=ktm
enter y=brgnj
enter z=nepal
[' ram sita radha', ' hari arjun abir', ' ktm brgnj nepal']

In [11]:
name=input("enter name=")
a=[' ram sita radha', ' hari arjun abir', ' ktm brgnj nepal']
for i in a:
    print(i)

enter name=hari
 ram sita radha
 hari arjun abir
 ktm brgnj nepal

In [14]:
name=input("enter name=")                                                  #search details by name
a=[' ram sita radha', ' hari arjun abir', ' ktm brgnj nepal']
for i in a:
    if name in i:
        print(i)

enter name=brgnj
 ktm brgnj nepal

In [2]:
name=input("enter name=")
a=[' ram sita radha', ' hari arjun abir', ' ktm brgnj nepal']
for i in a:
    if name in i:
        print(i)

enter name=arjun
 hari arjun abir

In [ ]:
#append() insert() extend()

In [16]:
a=[]
a.append("apple")
print(a)

['apple']

In [18]:
a=[]
a.append("apple")
a.append("apple")
print(a)

['apple', 'apple']

In [19]:
a=[]
a.append("apple")
a.append("apple")
b="fish"
a.append(b)
print(a)

['apple', 'apple', 'fish']

In [22]:
l=[]                                              #append() takes one argument at a time
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    l.append(x)
print(l)

enter n=3
enter x=ram
enter x=sita
enter x=hari
['ram', 'sita', 'hari']

In [23]:
a=["apple", "Ball", "cat","fish","apple"]
a.insert(2,"dog")
print(a)

['apple', 'Ball', 'dog', 'cat', 'fish', 'apple']

In [24]:
l=[]                                            #insert() takes two argument at a time
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    l.append(x)
    l.insert(1,"puppy")
print(l)

enter n=3
enter x=dog
enter x=cat
enter x=egg
['dog', 'puppy', 'puppy', 'puppy', 'cat', 'egg']

In [25]:
a=["apple", "Ball", "cat","fish","apple"]
b=["puppy", "lion"]
a.extend(b)
print(a)

['apple', 'Ball', 'cat', 'fish', 'apple', 'puppy', 'lion']

In [ ]:
#index

In [29]:
a=[' ram sita radha', ' hari arjun abir', ' ktm brgnj nepal']
a.index("cat")

2

In [3]:
a=["apple", "Ball", "cat","fish","apple"]
a.index("apple")

0

In [5]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"]
l=len(a)
x=input("enter x=")
for i in range(l):
    if a[i]==x:
        print(i)

enter x=fish
3

In [ ]:
#del() remove() pop()

In [10]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"]               #del() removes by index
del a[0]
print(a)

['Ball', 'cat', 'fish', 'apple', 'cat']

In [12]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"]
del a[0:3]
print(a)

['fish', 'apple', 'cat']

In [13]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"]
a.remove("cat")
print(a)

['apple', 'Ball', 'fish', 'apple', 'cat']

In [15]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"]
x=input("enter x=")
for i in a:
    if i==x:
        a.remove(x)
print(x)
print(a)

enter x=cat
cat
['apple', 'Ball', 'fish', 'apple']

In [18]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"]             #remove() takes argument
x=input("enter x=")
for i in a:
    if i==x:
        a.remove(x)
print(x)
print(a)

enter x=Ball
Ball
['apple', 'cat', 'fish', 'apple', 'cat']

In [19]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"] 
a.pop(2)
print(a)

['apple', 'Ball', 'fish', 'apple', 'cat']

In [20]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"] 
b=a.pop(3)
print(a)
print(b)

['apple', 'Ball', 'cat', 'apple', 'cat']
fish

In [21]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"]             #pop() can only delete when its args is int
x=input("enter x=")
for i in a:
    if i==x:
        a.pop(x)
print(x)
print(a)

enter x=cat

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
#clear()

In [22]:
a=["apple", "Ball", "cat","fish","apple" ,"cat"] 
a.clear()
print(a)

[]

In [ ]:
#list inside list

In [1]:

a=[[]]
print(a)

[[]]

In [2]:
print(type(a))

<class 'list'>

In [3]:
a=[[]]
a.append("apple")
print(a)

[[], 'apple']

In [4]:
a=[["apple"],["ball"],["cat"]]
print(a)

[['apple'], ['ball'], ['cat']]

In [6]:
a=[["apple"],["ball"],["cat"]]
print(a)
print(type(a))
print(len(a))

[['apple'], ['ball'], ['cat']]
<class 'list'>
3

In [7]:
a=[["apple"],["ball"],["cat"]]
a[0].append("dog")
print(a)

[['apple', 'dog'], ['ball'], ['cat']]

In [9]:
a=[["apple"],["ball"],["cat"]]
a[1].append("bike")
a[2].append("tiger")
a[0].append("dog")
print(a)

[['apple', 'dog'], ['ball', 'bike'], ['cat', 'tiger']]

In [12]:
a=[['apple', 'dog'], ['ball', 'bike'], ['cat', 'tiger']]
print(a)

[['apple', 'dog'], ['ball', 'bike'], ['cat', 'tiger']]

In [13]:
a=[['apple', 'dog'], ['ball', 'bike'], ['cat', 'tiger']]
print(a[0:1])

[['apple', 'dog']]

In [14]:
a=[['apple', 'dog'], ['ball', 'bike'], ['cat', 'tiger']]
print(a[1:1])

[]

In [8]:
a=[['apple', 'dog'], ['ball', 'bike'], ['cat', 'tiger']]
print(a[2:1])

[]

In [1]:
a=[[1,2,3],
  [3,4,5],
  [6,7,8]]
print(a)

[[1, 2, 3], [3, 4, 5], [6, 7, 8]]

In [2]:
l=[]
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    l=l+[x]
print(l)

enter n=3
enter x=ram
enter x=sita
enter x=hari
['ram', 'sita', 'hari']

In [4]:
l=[]
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    l.append(x)
print(l)

enter n=3
enter x=ram
enter x=sita
enter x=aham
['ram', 'sita', 'aham']

In [5]:
l=[]
s=str()
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=input("enter age=")
    add=input("enter add=")
    x=[name,age,add]
    l=l+[x]
print(l)

enter n=3
enter name=ram
enter age=sita
enter add=hari
enter name=dev
enter age=abir
enter add=mishti
enter name=kuhu
enter age=arjun
enter add=kunal
[['ram', 'sita', 'hari'], ['dev', 'abir', 'mishti'], ['kuhu', 'arjun', 'kunal']]

In [6]:
l=[]
s=str()
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=input("enter age=")
    add=input("enter add=")
    x=[name,age,add]
    l.append(x)
print(l)

enter n=2
enter name=ram
enter age=hari
enter add=sita
enter name=dev
enter age=abir
enter add=arjun
[['ram', 'hari', 'sita'], ['dev', 'abir', 'arjun']]

In [7]:
n=input("enter n=")
a=[['ram', 'hari', 'sita'], ['dev', 'abir', 'arjun']]
for i in a:
    if n in i:
        print(i)

enter n=sita
['ram', 'hari', 'sita']

In [2]:
l = [['Ram', '43', 'Kathmandu'], ['Shyam', '64', 'Bara']]
n = len(l)
name = input("Enter name = ")
for i in range(n):
      if l[i][0] == name:
                print(i,l[i])

Enter name = Ram
0 ['Ram', '43', 'Kathmandu']

In [1]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [2]:
fruits = ["apple", "banana", "cherry"]            #insert
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']