In [32]:
#for loop

In [31]:
for i in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [2]:
for i in range(10):
    print("hello World")

hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World

In [3]:
for i in range(1,5,2):
    print(i,"hello World")

1 hello World
3 hello World

In [4]:
n=int(input("enter n="))
for i in range(n):
    print("hi")

enter n3
hi
hi
hi

In [6]:
s=0
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
print(s)

enter n=2
enter x=1
enter x=2
3

In [11]:
s=str()
n=int(input("enter n="))
for i in range(1,n):
    x=input("enter x= ")
    s=s+x
print(s)

enter n=3
enter x= ram
enter x= ram
ramram,

In [1]:

n=int(input("enter n="))
for i in range(n):
    print(n,"*",i,"=",n*i)

enter n=10
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [4]:
n=int(input("enter n="))
for i in range(1,n+1):
    print(n*i,"hello")

enter n=5
5 hello
10 hello
15 hello
20 hello
25 hello

In [6]:
s=str()
n=int(input("enter n="))
for i in range(1,n):
    x=input("enter x= ")
    s=s+x+" "       #to create space in output
print(s)

enter n=3
enter x= ram
enter x= hari
ram
 hari

In [9]:
s=str()
n=int(input("enter n= "))
for i in range(n):
    name=input("enter name=")
    age=input("enter age=")
    s=s+name+" "+age+" "
print(s)

enter n= 2
enter name=ram
enter age=90
enter name=sita
enter age=77
ram 90 sita 77

In [ ]:
#factorial

In [10]:
fac=1
n=int(input("enter n="))
for i in range(1,n+1):
    fac=fac*i
print(fac)

enter n=4
24

In [11]:
fac=2
n=int(input("enter n="))
for i in range(1,n+2):
    fac=fac*i
print(fac)

enter n=3
48

In [ ]:
#prime and composite

In [12]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [29]:
for i in range(1,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [1]:
n=int(input("enter n="))
for i in range(1,n+1,2):
    if i%4==0:
            print("leap year")
            break
    else:
            print("not a leap year")
            break

enter n=40
not a leap year

In [21]:
a="python"
for i in a:
    print(i,"hello world")

p hello world
y hello world
t hello world
h hello world
o hello world
n hello world

In [22]:
a="anjali"
for i in a:
    print(i,"love","ajay")

a love ajay
n love ajay
j love ajay
a love ajay
l love ajay
i love ajay

In [23]:
a="hello world"
for i in a:
    if i!=" ":
        print(i)

h
e
l
l
o
w
o
r
l
d

In [24]:
a="hello world"
for i in a:
    if i!=" ":
        print(i,end=" ")

h e l l o w o r l d

In [25]:
a="hello world"
for i in a:
    if i!=" ":
        print(i,end="")

helloworld

In [26]:
a="hello world"
for i in a:
    if i!=" ":
        print(i,end=",")

h,e,l,l,o,w,o,r,l,d,

In [30]:
c=1
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    c=c/x
print(c)

enter n=10
enter x=2
enter x=2
enter x=3
enter x=4
enter x=5
enter x=6
enter x=7
enter x=8
enter x=9
enter x=8
1.7223324514991183e-07

In [2]:
n=int(input("enter n="))
for i in range(2,n):
    if i%2==0:
        print("even")
    else:
        print(i,"odd")

enter n=10
1 odd
even
3 odd
even
5 odd
even
7 odd
even
9 odd

In [3]:
s=0
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
print(s)

enter n=5
enter x=1
enter x=1
enter x=1
enter x=1
enter x=1
5

In [10]:
fac=1
n=int(input("enter n="))
for i in range(1,n+1):
    fac=fac*i
print(fac)

enter n=4
24

In [17]:
a="math math"
for i in a:
    if i!='t':
        print(i,end=",")

m,a,h, ,m,a,h,

In [24]:
n=int(input("enter n="))
for i in range(1,n):
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

enter n=10
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd

In [ ]:
#while loop

In [5]:
i=0
n=int(input("enter n="))
while i<n:
    i=i+1
    print(i,"hello world")

enter n=2
1 hello world
2 hello world

In [6]:
s=0
i=0
n=int(input("enter n="))
while i<=n:
    x=int(input("enter x="))
    s=s+x
    i=i+1
print(s)

enter n=3
enter x=2
enter x=3
enter x=1
enter x=0
6

In [3]:
s=str()
i=0
n=int(input("enter n="))
while i<n:
    x=input("enter x=")
    s=s+x+"\n "
    i +=1
    print(s)

enter n=3
enter x=ram
ram

enter x=sita
ram
 sita

enter x=laxman
ram
 sita
 laxman

In [13]:
i=2
n=int(input("enter n="))
if i>n:
    print("hi")
    i+=1

enter n=1
hi

In [3]:
fac=1                 #factorial
i=2
n=int(input("enter n="))
while i<=n:
    fac=fac*i
    i+=1
print(fac)

enter n=3
6

In [ ]:
#prime and composite

In [11]:
i=2
n=int(input("enter n="))
while i<n:
    if i%2==0:
        print("this is composite")
        break
    else:
        print("this is prime")
        break

enter n=5
this is composite