In [ ]:
#string

In [1]:
a="hello world"
print(a)

hello world

In [2]:
a=input("enter a=")
print(a)

enter a=ram
ram

In [3]:
print(type(a))

<class 'str'>

In [4]:
print(len(a))

3

In [6]:
s=str()
n=int(input("enter n="))

for i in range(n):
    b=input("enter b=")
    s=s+b+" "
print(s)

enter n=2
enter b=ram
enter b=saita
ram saita

In [10]:
s=str()
n=int(input("enter n="))                     

for i in range(n):
    name=input("enter name=")
    age=input("enter age=")
    add=input("enter add=")
    phone=input("enter phone=")
    s=s+f"{name} {age} {add} {phone}\n"      #string formatting
print(s)

enter n=2
enter name=ram
enter age=22
enter add=jkj
enter phone=344543665
enter name=sita
enter age=88
enter add=jhdkjh
enter phone=897986875
ram 22 jkj 344543665
sita 88 jhdkjh 897986875

In [11]:
a="hello world"
print(a*3)

hello worldhello worldhello world

In [12]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

In [ ]:
#string formatting

In [14]:
a=input("enter a=")
b=input("enter b=")
c=f"I am {a} and i am {b}\n"
print(c)

enter a=ram
enter b=sita
I am ram and i am sita

In [15]:
s=str()
a=0
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter add=")
    phone=int(input("enter phone="))
    a=age+phone
    s=s+f"{name} {age} {add} {phone}"
print(s)
print("the value of n",a)

enter n=2
enter name=ram
enter age=22
enter add=ktm
enter phone=3443432
enter name=sita
enter age=33
enter add=jdkjf
enter phone=9087879070
ram 22 ktm 3443432sita 33 jdkjf 9087879070
the value of n 9087879103

In [21]:
a="Ram Shyam Hari Sita Gita"
l_a=a.lower()
n=input("enter n=")
l_n=n.lower()
if l_n in l_a:
    print("yes")
    x=l_a.count(l_n)
    print(x)
else:
    print("no")

enter n=radha
no

In [3]:
s=str()                                             #total cost pgm
net_total=0
n=int(input("enter n="))
for i in range(n):
    product=input("enter product=")
    price=int(input("enter price="))
    qty=int(input("enter qty="))
    total=price*qty
    net_total=net_total+total
    s=s+f"{product} {price} {qty} {total}\n"
print(s)
print("The net_total is",net_total)

enter n=2
enter product=coke
enter price=23
enter qty=2
enter product=fanta
enter price=22
enter qty=3
coke 23 2 46
fanta 22 3 66

The net_total is 112

In [8]:
a="anu anjali anshii amna anu anu anu"
l_a=a.upper()
n=input("enter n=")
l_n=n.upper()
if l_n in l_a:
    print("it is there")
    x=l_a.count(l_n)
    print(x)
else:
    print("no it is not")

enter n=anu
it is there
4

In [ ]:
#string cases
#upper() lower() replace() search() count() split()

In [9]:
a="ram sita hari radha krishna"
a.upper()

'RAM SITA HARI RADHA KRISHNA'

In [10]:
a="ram sita hari radha krishna"
print(a.upper())

RAM SITA HARI RADHA KRISHNA

In [11]:
a="ram sita hari radha krishna"
a.lower()

'ram sita hari radha krishna'

In [12]:
a="ram sita hari radha krishna"
a.replace(ram,Rama)

NameError: name 'ram' is not defined

In [13]:
a="ram sita hari radha krishna"
x=a.replace('ram','Rama')
print(x)
print(a)

Rama sita hari radha krishna
ram sita hari radha krishna

In [16]:
a="ram sita hari radha krishna"
n=input("enter n=")
if 'hari' in a:
    x=n.replace('hari','shyam')
    print(x)
    print(a)

enter n=hari
shyam
ram sita hari radha krishna

In [17]:
a="ram sita hari radha krishna"
search=input("enter search=")
change=input("enter change=")
x=a.replace(search,change)
print(x)
print(a)

enter search=sita
enter change=rita
ram rita hari radha krishna
ram sita hari radha krishna

In [18]:
a="ram sita hari radha krishna radha"
a.count('radha')

2

In [19]:
a="ram sita hari radha krishna"
a.split()

['ram', 'sita', 'hari', 'radha', 'krishna']

In [20]:
a="ram sita hari radha krishna radha radha"
n=input("enter n=")
if 'radha' in a:
    print("yes")
    x=a.count(n)
    print(x)

enter n=radha
yes
3

In [2]:
txt="hello world"          #strip() is used to remove whitespace at beginning or end
x=txt.strip()
print(x)

hello world

In [3]:
txt = "Hello World"
txt = txt.replace("H","J")
print(txt)

Jello World

In [6]:
age = 36                                           #format() is used to add placeholder
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36