In [3]:
import mysql.connector                      #sql is used for database and this code is used for python
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="class4pm"
)

db = database.cursor()

In [ ]:
#Insertion

In [6]:
sql= "INSERT INTO students(name,roll,physics,chemistry,math,english,nepali,total,per) VALUES('sita',22,56,78,89,55,67,465,75)"
db.execute(sql)
database.commit()

In [7]:
sql= "INSERT INTO students(name,roll,physics,chemistry,math,english,nepali,total,per) VALUES('Radha',22,56,78,89,55,67,465,75)"
db.execute(sql)
database.commit()

In [9]:
n = int(input("enter n="))
for i in range(n):
    name = input("enter name=")
    roll = int(input("enter roll"))
    physics = int(input("enter physics="))
    chemistry = int(input("enter chemistry="))
    math = int(input("enter math="))
    english = int(input("enter english="))
    nepali = int(input("enter nepali="))
    total = physics+chemistry+math+english+nepali
    per = total/5
    sql = f"INSERT INTO students(name,roll,physics,chemistry,math,english,nepali,total,per) VALUES('{name}',{roll},{physics},{chemistry},{math},{english},{nepali},{total},{per})"
    db.execute(sql)
database.commit()

enter n=2
enter name=hari
enter roll33
enter physics=78
enter chemistry=98
enter math=76
enter english=67
enter nepali=44
enter name=shyam
enter roll45
enter physics=67
enter chemistry=87
enter math=34
enter english=88
enter nepali=56

In [ ]:
#Select Query

In [13]:
db.execute("SELECT * FROM students")

result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 22, 55, 78, 76, 77, 66, 458, 78)
(3, 'sita', 22, 56, 78, 89, 55, 67, 465, 75)
(4, 'Radha', 22, 56, 78, 89, 55, 67, 465, 75)
(5, 'hari', 33, 56, 78, 66, 89, 65, 354, 71)
(6, 'hari', 33, 78, 98, 76, 67, 44, 363, 73)
(7, 'shyam', 45, 67, 87, 34, 88, 56, 332, 66)

In [5]:
db.execute("SELECT sn,name,roll,total,per FROM students ")

result =db.fetchall()
for x in result:
    print(x)

NameError: name 'db' is not defined

In [3]:
db.execute("SELECt * FROM students WHERE per>75")

result =db.fetchall()
for x in result:
    print(x)

NameError: name 'db' is not defined

In [ ]:
#UPDATE QUERY

In [2]:
sql = "UPDATE students SET name ='radhaa' WHERE sn =4"
db.execute(sql)
database.commit()

NameError: name 'db' is not defined

In [ ]:
#DELETE QUERY