In [ ]:
#string

In [1]:
a="hello world"
print(a)

hello world

In [2]:
a=input("enter a=")
print(a)

enter a=ram
ram

In [3]:
print(type(a))

<class 'str'>

In [4]:
print(len(a))

3

In [6]:
s=str()
n=int(input("enter n="))

for i in range(n):
    b=input("enter b=")
    s=s+b+" "
print(s)

enter n=2
enter b=ram
enter b=saita
ram saita

In [10]:
s=str()
n=int(input("enter n="))

for i in range(n):
    name=input("enter name=")
    age=input("enter age=")
    add=input("enter add=")
    phone=input("enter phone=")
    s=s+f"{name} {age} {add} {phone}\n"
print(s)

enter n=2
enter name=ram
enter age=22
enter add=jkj
enter phone=344543665
enter name=sita
enter age=88
enter add=jhdkjh
enter phone=897986875
ram 22 jkj 344543665
sita 88 jhdkjh 897986875

In [11]:
a="hello world"
print(a*3)

hello worldhello worldhello world

In [12]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

In [ ]:
#string formatting

In [14]:
a=input("enter a=")
b=input("enter b=")
c=f"I am {a} and i am {b}\n"
print(c)

enter a=ram
enter b=sita
I am ram and i am sita

In [15]:
s=str()
a=0
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter add=")
    phone=int(input("enter phone="))
    a=age+phone
    s=s+f"{name} {age} {add} {phone}"
print(s)
print("the value of n",a)

enter n=2
enter name=ram
enter age=22
enter add=ktm
enter phone=3443432
enter name=sita
enter age=33
enter add=jdkjf
enter phone=9087879070
ram 22 ktm 3443432sita 33 jdkjf 9087879070
the value of n 9087879103

In [21]:
a="Ram Shyam Hari Sita Gita"
l_a=a.lower()
n=input("enter n=")
l_n=n.lower()
if l_n in l_a:
    print("yes")
    x=l_a.count(l_n)
    print(x)
else:
    print("no")

enter n=radha
no